*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}
body{
  background-image: url(../public/images/bg-main-desktop.png);
  background-size: auto;
  background-position:top right;
  padding-left: 4%;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
}

.app{
}


@media (min-width:1008px) {
  body{
    padding-left: 9.5%;
  }
}

